#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-container button{
  margin-right: 5%;
}

.img-container {
  max-width: 500px;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.discover-button-container {
  display: flex;
  align-items: center;
  justify-content: center;

}
.discover-button {
  margin-top: 2%;
}

.cat-info-container {
  display: grid;
  grid-template-columns: 1fr 300px; /* Define fixed column widths */
  grid-gap: 20px; /* Add a gap between columns */
}

.banned-title {
  font-size: 40px;
}

.filtered-container button {
  margin: 2% 2%;
}